---
import Book from '../components/Book.astro';
import MobileMenu from '../components/MobileMenu.astro';

// Importation de vos composants de pages
import Page1 from '../components/pages/Page1.astro';
import Page2 from '../components/pages/Page2.astro';
import Page3 from '../components/pages/Page3.astro';
import Page4 from '../components/pages/Page4.astro';
import Page5 from '../components/pages/Page5.astro';
import Page6 from '../components/pages/Page6.astro';
import Page7 from '../components/pages/Page7.astro';
import Page8 from '../components/pages/Page8.astro';
import Page9 from '../components/pages/Page9.astro';
import Page10 from '../components/pages/Page10.astro';

// Définissez le nombre total de pages pour que le composant de base s'occupe des z-indexes
const TOTAL_PAGES = 10;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="L'Orée Design" />
    <title>L'Orée Design</title>

    <!-- Google tag (gtag.js) -->
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-WXW20PKY5V"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-WXW20PKY5V');
    </script>
  </head>
  <body>
    <MobileMenu />
    <main>
      <Book>
        <Page1 totalPages={TOTAL_PAGES} tabLabel="Qui suis-je" />
        <Page2 totalPages={TOTAL_PAGES} tabLabel="Ce que je crée" />
        <Page3 totalPages={TOTAL_PAGES} tabLabel="Création de site web" />
        <Page4 totalPages={TOTAL_PAGES} tabLabel="Mes Packs" />
        <Page5 totalPages={TOTAL_PAGES} tabLabel="Mes Packs suite" />
        <Page6 totalPages={TOTAL_PAGES} tabLabel="Portefolio" />
        <Page7 totalPages={TOTAL_PAGES} tabLabel="L'Orée" />
        <Page8 totalPages={TOTAL_PAGES} tabLabel="Rayonis Academy" />
        <Page9 totalPages={TOTAL_PAGES} tabLabel="Me Contacter" />
        <Page10 totalPages={TOTAL_PAGES} tabLabel="Me Suivre" />
      </Book>
    </main>
  </body>
</html>

<style>
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
  }
</style>
